@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




// =========== HEADER ===========
.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+&__list-item {
        padding-left: 35px;
    }

    &__list-link {
        display: block;
        @extend %r400;
        text-transform: uppercase;
        color: $title;
        padding: 0 2px 4px;
        transition: all 0.3s linear;

        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %r700;

        }

        &::before {
            display: block;
            content: attr(data-text);
            font-weight: bold;
            border-bottom: 1px solid transparent;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }

    }

    &__list-link--active {
        @extend %r700;
        color: $accent;
        border-bottom: 1px solid $accent;

    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link+&__link {
        padding-left: 25px;
    }

    &__num {
        position: absolute;
        right: -12px;
        top: -9px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 12px;
        background-color: $accent;
        color: #fff;

        // CENTERS THE TEXT INSIDE THE CIRCLE
        text-align: center;
        line-height: 20px;
    }
}





// =========== FOOTER ===========
.footer {
    background-color: $bg;
}

.footer-top {
    display: flex;
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;

    &__contact {
        width: 250px;
        margin-right: 50px;
    }

    &__nav {
        width: 170px;
        margin-right: 30px;
    }

    &__item-form {
        max-width: 470px;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }

    &__address,
    &__email,
    &__phone {
        display: block;
        margin-bottom: 10px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-item+&__social-item {
        margin-left: 18px;
    }

    &__social-link {
        transition: all 0.3s linear;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__title {
        @extend %r700;
        color: $title;
        font-size: 22px;
        line-height: 1;
        text-transform: capitalize;
        margin-bottom: 38px;
    }

    &__link {
        display: block;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form-input {
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        border: none;
        padding: 15px 10px 15px 15px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);


        &::placeholder {
            font-size: 16px;
            color: $default;
        }
    }

    &__form-btn {
        @extend %btn;
        border: none;
    }

}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    font-size: 12px;

    &__payment {
        display: flex;
        align-items: center;

        &-img {
            margin-left: 18px;
        }
    }
}


// =========== TOP ===========

.top {

    &__container {
        max-width: 1700px;
        margin: 0 auto;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 120px 0 130px;
    }


    &__title {
        @extend %r400;
        text-transform: uppercase;
        font-size: 48px;
        color: $title;
        line-height: 1.2;
        margin-bottom: 15px;
    }

}


// =========== HERO ===========
.top-slider {
    padding: 65px 0 45px;
    background-color: $bg;
    background-image: url('../images/shapes.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &__container {
        max-width: 1560px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__content {
        padding-left: 180px;
        padding-top: 125px;
    }

    &__title {
        @extend %r700;
        color: $title;
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        text-transform: capitalize;
        margin-bottom: 35px;
    }

    &__text {
        max-width: 470px;
        margin-bottom: 50px;
    }

    &__link {
        @extend %btn;
        padding: 14px 36px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;

        li {
            padding: 0 5px;
            line-height: 0;

            button {
                position: relative;
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border: 1px solid transparent;
                border-radius: 50%;
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background-color: $default;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.slick-active {

                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }

}



// =========== CATEGORIES ===========
.categories-info {
    padding: 120px 0;
    background-image: url('../images/decor/BgElementsLeft.png');
    background-repeat: no-repeat;
    background-position: left;
    // background-size: contain;


    &__inner {
        background-image: url('../images/decor/BgElementsRight.png');
        background-repeat: no-repeat;
        background-position: right;

        background-size: 216px auto;
    }
}


.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    position: relative;


    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
    }

    &::before {
        background-image: url('../images/decor/element1.svg');
        top: -40px;
        left: -45px;
        width: 120px;
        height: 120px;
    }

    &::after {
        background-image: url('../images/decor/element2.svg');
        bottom: -24px;
        right: -24px;
        width: 65px;
        height: 52px;
    }


    &__item {
        width: 370px;
        padding: 60px 30px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        background-color: #fff;
    }

    &__item-title {
        @extend %r400;
        font-size: 22px;
        color: $title;
        margin: 35px 0 10px;
    }

}

.categories {

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        min-height: 635px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 35px;
        padding-left: 40px;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: $accent;
            }
        }

        &:nth-child(3) {

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #ffb534;
            }
        }

        &:nth-child(4) {

            .categories__item-suptitle,
            .categories__item-link:hover {
                color: #34c3ff;
            }
        }
    }

    &__item-suptitle {
        margin-bottom: 5px;
    }

    &__item-title {
        @extend %r500;
        color: $title;
        font-size: 22px;
        margin-bottom: 5px;
    }

    &__item-link {
        @extend %r400;
        color: $title;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }
}



// =========== VIDEO POPUP ===========
.video-fashion {
    padding: 125px 0;
    background-color: $bg;
    background-image: url("../images/decor/bgpattern.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__popup {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
        max-width: 537px;
        width: 100%;
        height: 482px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__content {
        max-width: 570px;
    }

    &__suptitle {
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        padding-top: 70px;
        margin-bottom: 10px;
    }

    &__title {
        text-align: left;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__link {
        @extend %btn;
    }
}



// =========== PRODUCT ===========
.product {
    padding: 100px 0 120px;
    text-align: center;

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 45px 30px;
    }

    &__link {
        @extend %r400;
        color: $title;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 50px;
    }
}

.product-item {
    max-width: 370px;
    text-align: center;

    &__images {
        object-fit: cover;
    }

    &__img-box {
        position: relative;
        height: 370px;
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__link-box {
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: #fff;
        text-align: center;
        width: 220px;
        height: 50px;
        margin: 0 auto;
        border-radius: 25px;

        transition: all 0.3s ease;
        transform: translateY(300%);
    }

    &__link--line::before,
    &__link--line::after {
        position: absolute;
        content: '';
        height: 30px;
        width: 1px;
        background-color: #ececec;
        top: 10px;
    }

    &__link--line::before {
        left: 70px;
    }

    &__link--line::after {
        right: 70px;
    }

    &__link {
        display: inherit;
    }

    &__link:hover path {
        transition: all 0.3s ease;
        fill: $accent;
    }

    &__title {
        @extend %r400;
        color: $title;
        font-size: 22px;
        text-transform: capitalize;
        margin: 15px 0;
    }

    &__price {
        display: flex;
        justify-content: center;
    }

    &__new-price {
        @extend %r500;
        color: $title;
        padding: 0 12px;
    }

    &__old-price {
        @extend %r400;
        padding: 0 12px;
        color: #ccccce;
        text-decoration: line-through;
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }

    &--sale {

        .product-item__img-box::before {
            position: absolute;
            content: 'SALE';
            top: 25px;
            left: 25px;
            @extend %btn;
            line-height: 1;
        }
    }
}

.star {
    margin: 0 auto;
}

// =========== PROMO ===========
.promo {
    background-image: url('../images/content/deals/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f6f6f6;
    padding: 150px 0 160px;
    text-align: center;

    &__inner {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
    }

    &__suptitle {
        @extend %q500;
        color: $accent;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 45px;
    }


    &__timer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__timer-item {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            @extend %r700;
            color: $title;
            font-size: 48px;
            line-height: 1;
        }
    }

    &__link {
        @extend %r400;
        color: $title;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 1px solid $accent;
        padding: 14px 27px;
        margin-top: 55px;
    }
}


.partners {
    padding-top: 75px;

    &__list {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



// =========== BLOG ===========
.blog {
    padding: 50px 0 160px;
    background-image: url('../images/blog-bg.svg');
    background-position: center center;
    background-repeat: no-repeat;

    &__items {
        position: relative;
        display: flex;
        justify-content: space-between;

        &::after {
            position: absolute;
            content: '';
            top: -31px;
            right: -24px;
            width: 126px;
            height: 53px;
            background-image: url('../images/decor/blogel.svg');
            z-index: -1;
        }
    }

    &__item {
        max-width: 370px;
        border: 1px solid #ececec;
        transition: all 0.3s ease;

        &:hover {
            border: none;
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

            .blog__item-link {
                color: $accent;

                &::after {
                    background-image: url('../images/icons/arrowred.svg');
                }
            }
        }
    }

    &__item-imglink {
        display: block;

        img {
            height: 288px;

            // WILL OBEY THE SET SIZE EVEN IF THE UPLOADED IMAGE IS BIGGER
            object-fit: cover;
        }
    }

    &__item-box {
        padding: 30px 40px;

    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__item-author,
    &__item-date {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item-author::before {
        background-image: url('../images/icons/author.svg');
    }

    &__item-date::before {
        background-image: url('../images/icons/clock.svg');
    }

    &__item-title {
        @extend %r400;
        font-size: 22px;
        color: $title;
        margin-bottom: 20px;

    }

    &__item-link {
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &__item-link::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 8px;
        right: -14px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../images/icons/arrowgrey.svg');
    }

}



// =========== LOG IN ===========
.modal {
    max-width: 570px;
    padding-top: 100px;
    margin: 0 auto 115px;

    &__links {
        margin-bottom: 40px;
        text-align: center;
    }

    &__link {
        @extend %r400;
        text-transform: uppercase;
        font-size: 22px;
        color: #909090;
        margin: 0 30px;
    }

    &__link--active {
        @extend %r700;
        color: $accent;
    }

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        border: none;
        background-color: #f6f6f6;
        margin-top: 4px;
        height: 60px;
        padding: 0 15px;
    }

    &__btn {
        display: block;
        width: 100%;
        @extend %r400;
        border: none;
        padding: 14px 0;
        background-color: $title;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__restore {
        margin-top: 15px;
        color: $accent;
    }

}






















@import 'media';